html { overflow: hidden; }
body { font-family: 'Open Sans', sans-serif; line-height: .8; font-size: 45px; }

.background {
	position: fixed;
	height: 100%;
	width: 100%;
	background: -webkit-gradient(radial, 50% 50%, 250, 50% 50%, 750, from(#fff), to(#efefef));
	z-index: 0;
  opacity: 1;
}

b {color: #f07818;}

a, a:hover, a:visited {
    text-decoration: none;
    font-style: normal;
    color: #666;
    cursor: pointer;
}
a:hover { color: #333;}

.title { font-size: 275px; }
.big { text-transform: uppercase; margin: 0; padding: 0; }
.bold { font-weight: 800; }
.light { font-weight: 400; }
.extralight { font-weight: 300; letter-spacing: .1em; }
.small { display: block; padding: 20px; font-size: 20px; font-weight: 600; }
.left {float:left;}
.right {float:right;}

/* COMMON STEP STYLES */

.step {
    text-align: center;
    width: 1000px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -webkit-transition: opacity 1s;
    text-shadow: rgba(0,0,0,.01) 0 0 1px; /* Chrome @font-face anti-aliasing fix */
}

.step:not(.active) { opacity: 0.1; }

/* STEP SPECIFIC STYLES */
#title {width: 1240px; height: 600px; text-align: left; }
#title-text1 { font-size: 102px; }
#title-text2 { font-size: 153px; }
#title-text2 .image {margin-left: 35px; height: 0.6em; vertical-align: middle;}

#subtitle-text1 { font-size: 60px; }
#subtitle-text2 { font-size: 210px; }
#subtitle-text3 { font-size: 55px; }

#overview {height:500px;}
#overview .image { height: 3.2em; width: 2.5em}
#overview .text { font-size: 60px; }

.overview-idea {font-size: 40px; height: 400px;}

#how {width:800px;font-size:100px;text-align:left;}

#terms {text-align:left;font-size:60px;}

.bullet.big {font-size:80px; letter-spacing:0.5em;  -webkit-margin-before:0.5em; -webkit-margin-after:0.5em;}
.term p {font-size:60px;}

.line {font-size:90px;height:600px}

#notjava {width:1000px;font-size:100px;text-align:left;line-height:1em;}

#erlanghas {font-size:90px;}

.has .bold {font-size:60px;}

.code { font-size:20;}
.smallcode { font-size:10;}

/*#munctional:not(.active) {display:none;}*/
